/* PAGE LAYOUT_START */
/* LINKS */
/* unvisited link */
a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

/* mouse over link */
h2 a:hover {
    font-weight: 600;
    padding-bottom: .2vh;
    border-bottom: 4px solid;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

#map {
    display: none;
    }

#map2{
   visibility: h;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    background-image: linear-gradient(to right, #fff, #fff 50%, #fff 50%, #fff);
    background-size: cover;
    background-repeat: no-repeat;
}

#title{
    display: none;
}

#subtitle{
    
}

#title h1{
    background: #efefef;
    padding-right: 1%;
    padding-left: .5%;
}

h1 {
    position: fixed;
    left: 1%;
    color: #000;
    font-size: 4vh;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 600;
    top:-1%;
    }

h2 {
    position: fixed;
    left: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 1%;
    padding-left: .5%;
    top: 5%;
    color: #fff;
    font-size: 1.5vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;  
    text-align: left;
    }

#title h2{
    background: #efefef;
    color: #000;
}

span {
    color: #000;
    font-size: 1.5vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;  
    }


.popup {
    position: fixed;
    background: #efefef;
    height: 84%;
    top:8%;
    width: 25%;
    right: 25%;
    z-index: 1;
    text-align: justify;
    font-size: 1.6vh;
    font-family: 'Raleway', sans-serif;
    line-height: 3.0vh; 
    overflow-y: auto;
    display: none;
    border-right: 2px solid white;
}

.popup #popup_title {
    font-size: 2vh;
    padding: 0em 0em 0em 2em;
    margin: 1.5em 0em -1em 0em;
    font-weight: 600;
}

.popup p {
  padding: 1em 3em 0em 3em;  
}

.close {
  padding: 0em 1.5em 0em 0em;
  text-align: right; 
  color: white;
  font-size: 3vh;
  background: #000;
  cursor: pointer;
    
}

.popup_left {
    position: fixed;
    background: #efefef;
    height: 84%;
    top:8%;
    width: 25%;
    left: 25%;
    z-index: 1;
    text-align: justify;
    font-size: 1.4vh;
    font-family: 'Raleway', sans-serif;
    line-height: 3.0vh; 
    overflow-y: auto;
    display: none;
    border-right: 2px solid white;
}

.popup_left_x {
    position: fixed;
    background: #efefef;
    height: 84%;
    top:8%;
    width: 25%;
    left: 15%;
    z-index: 1;
    text-align: justify;
    font-size: 1.4vh;
    font-family: 'Raleway', sans-serif;
    line-height: 3.0vh; 
    overflow-y: auto;
    display: none;
    border-right: 2px solid white;
}

.popup_left_x p {
  padding: 1em 3em 0em 3em;    
}

.popup_left p {
  padding: 1em 3em 0em 3em;    
}

.popup_left_x #popup_title {
    font-size: 2vh;
    padding: 0em 0em 0em 2em;
    margin: 1.5em 0em -1em 0em;
    font-weight: 600;
}

.popup_left #popup_title {
    font-size: 2vh;
    padding: 0em 0em 0em 2em;
    margin: 1.5em 0em -1em 0em;
    font-weight: 600;
}

.important_text{
    font-weight: 600;
    font-size: 1.4vh;
}

#citation{
    font-style: italic;
    line-height: 1.5vh;
    font-size: 1.2vh;
    color: grey;
}


svg {
    
}

circle{ 
    stroke:black; 
    stroke-width:.5px;
    stroke-dasharray:.3vw,.1vw;
    fill:white;
    cursor: pointer;
}

line {
    stroke:black; 
    stroke-width:1;
    stroke-dasharray:1,2;
}


text {
    text-anchor: middle;
    cursor: pointer;
    font-family: Raleway;
    font-size: 54%;
}

image {
    width: 22%;
    height: 22%;
    
}


#tangible_c{
    fill: #000;
    stroke: none;
}

#tangible_t{
    fill: #fff;
    font-weight: 600;
}

#tangible_t_header{
    font-size: 150%;
}

#urbanfurnishing_svg{
    display: none;
}

#spacedivision_svg{
    display: none;
}

#protestdivision_svg{
    display: none;
}

#urbanfabric_svg{
    display: none;
}

#barricade_svg{
    display: none;
}

#languagealteration_svg{
    display: none;
}

#surveillance_svg{
    display: none;
}

#strategicincapacitation_svg{
    display: none;
}

#extended_svg{
    display: none;
}

#ppublicspace_svg{
    display: none;
}

#map_c{
    fill:#FFDE00;
}
